@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");

.main {
  height: calc(100% - 6rem);
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.main > div {
  height: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content-mainpage {
  position: relative;
  width: 70%;
  font-family: "Plus Jakarta Display", sans-serif;
  z-index: -1;
}

.mainpage-me {
  font-size: 2.5rem;
}

.img-mainpage {
  position: relative;
  perspective: 1000px;
  width: 30%;
  height: 60%;
  background-color: #2c5f2d;
  background-image: url("../../img/profilepic.jpg");
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2c5f2d;
  z-index: -1;
}

#greenspan {
  text-decoration: underline;
  background-color: #2c5f2d;
  color: white;
  padding: 0 5px;
}

.mainpage-me:last-child {
  width: 100%;
  font-size: 1rem;
  text-decoration: underline;
  z-index: -1;
}
.mainpage-me:nth-child(3) {
  font-size: 2.5rem;
  text-decoration: none;
}

@media screen and (max-width: 610px) {
  .mainpage-me {
    font-size: 1.8rem;
  }
  .mainpage-me:nth-child(3) {
    font-size: 1.8rem;
  }
  .text-content-mainpage {
    width: 60%;
  }
  .img-mainpage {
    width: 40%;
  }
}
@media screen and (max-width: 500px) {
  .mainpage-me {
    font-size: 1.3rem;
  }
  .mainpage-me:nth-child(3) {
    font-size: 1.3rem;
  }
  .text-content-mainpage {
    width: 50%;
  }
  .img-mainpage {
    width: 45%;
  }
}
@media screen and (max-width: 400px) {
  .mainpage-me {
    font-size: 1rem;
  }
  .mainpage-me:nth-child(3) {
    font-size: 1rem;
  }
  .text-content-mainpage {
    width: 40%;
  }
  .img-mainpage {
    width: 50%;
  }
}
